{% extends 'base.html' %}
{% load static %}
{% block home %}
{% load cart %}
</div>



<section class="w3l-ecommerce-main">
    <div class="ecom-contenthny py-5">
        <div class="container py-lg-6">
            <h3 class="hny-title mb-0 text-center">All <span>Products</span></h3>
            <div class="ecom-products-grids row mt-lg-5 mt-3">
                {% for p in prod %}
                    <div class="col-lg-3 col-6 product-incfhny mt-4">
                        <div class="product-grid2">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1 img-fluid" src="{{ p.imgs.url }}" style="height: 300px; width: 300px;">
                                    <img class="pic-2 img-fluid" src="{{ p.imgs.url }}" style="height: 300px; width: 300px;">
                                </a>
                                <ul class="social">
                                        <li><a href="{% url 'Add_Wish_List' p.id %}" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                        </li>
                                </ul>
                                {% if request.session.user_data %}
                                    {% if p|is_in_cart:request.session.cart %}
                                    <button class="transmitv-cart ptransmitv-cart add-to-cart">
                                        {{p|cart_quantity:request.session.cart}} Products In Cart
                                    </button>
                                           
                                    {% else %}
                                        <form action="{% url 'orders' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="idss_data" value="ids_data">
                                            <input hidden type="text" name='product' value='{{p.id}}'>
                                            <button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
                                                Add to Cart
                                            </button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="{% url 'Show_Product' p.id %}">{{ p.p_name }} </a></h3>
                                <span class="price">₹ {{ p.p_price }}</span>
                            </div>
                        </div>
    
                    </div>

                    
                {% endfor %}
            </div>
        </div>
    </div>
</section>

      <!--  footer --> 
    
 {% endblock home %}
